:root {
  --celeste: #0094d8;
  --gris: #f0f0f0;
  --naranja:#e3a537;
  --font-family-sans-serif: 'Montserrat', sans-serif !important;
--font-family-monospace: 'Montserrat', sans-serif !important;
}

html{
	font-family: 'Montserrat', sans-serif !important;
}
body{
	margin: 0px;
  background-color: #f0f0f0;
  z-index: 100;
}
h1, h2, h3, h4,h5, h6{
	margin: 0;
	padding: 15px;
}
a{
	list-style: none;
	text-decoration: none;
	color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
hr{
  margin-top: 50px;
  background-color: var(--celeste);
  height: 1px;
}

.black{
  color: black;
}

.img_nube{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  z-index: 0;
}
.img_forma_azul{
  position: absolute;
  top: 100px;
  right: 0;
  width: 50%;
  z-index: 0;
}

nav{
  margin-top: 20px;
  height: 80px;
  width: 100%;
  z-index: 100;
}
.navbar, .menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
}
nav .brand{
  height: 80px;
  z-index: 100;
}
nav .brand > img{
  margin-top: 15px;
  height: 50px;
  width: auto;
}
.menu{
  align-items: center;
  height: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.menu img{
  height: 50px;
  width: auto;
}
.menu{
  list-style: none;
}
.menu li a{
  color:#666;
  padding: 20px 25px;
  font-weight: 400;
}
.menu li:last-child a{
  padding-right: 0;
}
.servicios{
  margin-top: 80px;
  z-index: 100;
}
.texto-servicio{
  box-sizing: border-box;
  padding-right: 30px;
  text-align: right;
}
.derecha{
  text-align: right;
}
.izquierda{
  text-align: left;
}
.titulo-servicio{
  margin-top: 30px;
  padding: 0;
  color: var(--celeste);
  font-size: 1em;
  font-weight: bold;
}
.slogan-servicio{
  padding: 0;
  color: #444;
  font-size: 3em;
  font-weight: bold;
}
.resumen-servicio{
  color: #666;
  font-size: .85em;
  font-weight: bold;
}
.info-servicio{
  color: white;
  padding: 5px 15px;
  font-size: .8em;
  background-color: var(--celeste);
  border-radius: 12px;
  font-weight: 700;
}
.img-servicios{
  padding: 20px;
  z-index:100;
  position: relative;
}
.img-servicios img{
  position: absolute;
}

/*SECTION NOTICIAS*/
.titulo-noticias{
  color:#444;
  font-size: 2.5em;
  font-weight: bold;
}
.img-noticia{
  height: 100px;
  background-color: var(--celeste);
  border-radius: 5px;
}
.titulo-noticia{
  color:#444;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 8px;
}
.resumen-noticia{
  color: #888;
  font-size: .8em;
  text-align: left;
  font-weight: bold;
}
.boton-noticias{
  float: right;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--celeste);
  border-radius: 20px;
  height: 25px;
  width:25px;
  padding-bottom: 5px;
  color:white;
  font-weight: bold;
}

