.letras_grises{
	color: #7a7b7b!important;
}
.boton-celeste{
	background-color: #0094d8!important;
	color: white;	
}
.color-celeste{
	color: #00AEEF;
}
.height-align{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.letras_sistemas{
	font-size: 1.3em;
	font-weight: 600;
	color: #535353;
}
/*TITULOS DE LOS BANNER DE LAS PAG DE SERVICIO*/

.titulo-banner{
	margin-top: 80px;
}
.titulo-banner h2{
	margin-bottom: 0;
}
/*ESTILO CONTACTO*/
.titulo-contacto{
	padding-left: 15px;
}
.subtitulo-contacto{
	text-transform: uppercase;
	color:#00AEEF!important;
	font-size: 1.5em;
	padding-left: 15px;
}

.proceso-1{
	float: left;
	margin-left: 5%;
	width: 40%;
	position: relative;
	height: 100px;
	margin-bottom: 10px;
}
.proceso-2{
	float: left;
	margin-left: 20%;
	width: 40%;
	position: relative;
	height: 100px;
}
.proceso-3{
	float: left;
	width: 40%;
	position: relative;
	height: 100px;
	margin-bottom: 10px;
}
.proceso-4{
	float: left;
	width: 40%;
	position: relative;
	height: 100px;
}
.numero-pasos{
	font-size: 5em;
	position: relative;
	text-align: center;
	color:#bfbfbf;
}


/* -------------------VISTA PARA PC-----------------------*/
@media screen and (min-width: 601px) {
	#services h3{
		margin: 5px;
		margin-left: 0px;
		font-weight: 600;
	}
	.pc-m-auto{
		margin: auto;
		float: none;
	}
	.size-10rem{
		font-size: 10rem;
	}
	.size-21{
		font-size: 21px!important;
	}
	.pc-mt-N28{
		margin-top: -28px!important;
	}

	.proceso-1::after{
		content:"";
		position: absolute;
		bottom: -22.5px;
		height: 20px;
		width: 20px;
		left: 12.5%;
		margin-left: -10px;
		border-radius: 10px;
		background-color: #0094d8;
	}
	.proceso-2::after{
		content:"";
		position: absolute;
		top: -11.5px;
		height: 20px;
		width: 20px;
		left: 12.5%;
		margin-left: -10px;
		border-radius: 10px;
		background-color: #0094d8;
	}
	.proceso-3::after{
		content:"";
		position: absolute;
		bottom: -22.5px;
		height: 20px;
		width: 20px;
		left: 12.5%;
		margin-left: -10px;
		border-radius: 10px;
		background-color: #0094d8;
	}
	.proceso-4::after{
		content:"";
		position: absolute;
		top: -11.5px;
		height: 20px;
		width: 20px;
		left: 12.5%;
		margin-left: -10px;
		border-radius: 10px;
		background-color: #0094d8;
	}
	.titulo-pasos{
		font-size: 1.1em;
		color: #333;
		font-weight: bold;
	}
	.descripcion-pasos{
		font-size: 1em;
		color: #333;
		font-weight: 500;
	}
	.borde-menu{
		border-top: 0px!important;
		border-bottom: 1px;
		border-left: 1px;
		border-right: 1px;
	}
	.hide-md{
		display: none;
	}
	.pc-float-none{
		float: none;
	}
	.pc-saltodelinea{
		white-space: pre-line;
	}
	.pc-boton-registrarce{
		background-image: url('../../images/tecladochico2.jpg');
		background-color: #142d34;
		color: white;
		background-size: 494%;
		background-repeat: no-repeat;
	}
	.pc-boton-registrarce:hover{
		background-image: url('../../images/tecladochico2.jpg');
		background-color: #142d34;
		color: white;
		background-size: 494%;
		background-repeat: no-repeat;
		opacity: 0.8;
	}
	.pc-boton-registrarce h3{		
		color: var(--celeste);
		font-size: 36px!important;
		font-weight: 600;
	}
	.pc-boton-registrarce p{
		color: white;
		font-weight: 600;
	}
}
/* ___________________FIN VISTA PARA CPC____________________________*/

/* -------------------VISTA PARA CELLLLLL-----------------------*/
@media screen and (max-width: 600px) {
	.hide-xs{
		display: none;
	}
	.cell-p-0{
		padding: 0px;
	}
	.size-10rem{
		font-size: 7rem;
	}
	.overflow-hidden{
		overflow: hidden;
	}
	.cell-float-none{
		float: none;
	}
	.cell-saltodelinea{
		white-space: pre-line;
	}
/*	.banner-container .sliderr{
		width: auto!important;
		height: 204px!important;
	}*/
	.img_slider{
		width: 100%;
		overflow: hidden;
	}
	.img_slider img {
        width: auto;
        height: 224px;
     }
    .img_slider_sub_paginas{
		width: 100%;
		overflow: hidden;
    }
    .img_slider_sub_paginas img{
    	width: auto;
    	height: 172px;
    }
	.top-slider{
		top:36px;
	}
	.size-slider h2{
		font-size: 35px!important;
		white-space: pre-wrap;
		width: 93%;
	}
	.size-slider p{
		font-size: 20px!important;
		top: 60px;
	}
	.hover-menu:hover{
		background-color: #428bca;
		color: white;
	}

	.banner-container{
		margin-top: 78px;	
	}
	.titulo-banner{
		margin-top: 46px;
		padding-left: 15px;
	}

	.banner-content h2 {
        color: white;
        font-size: 2.2em;
        margin: 2% 0 0px;
        line-height: 1.2em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }

    .banner-content p {
        font-size: 1.2em;
        font-style: normal;
        color: var(--celeste);
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
    .cell-boton-registrarce{
		background-image: url('../../images/tecladochico2.jpg');
		background-color: #142d34;
		color: white;
		background-size: 494%;
		background-repeat: no-repeat;
	}
	.cell-boton-registrarce:hover{
		background-image: url('../../images/tecladochico2.jpg');
		background-color: #142d34;
		color: white;
		background-size: 494%;
		background-repeat: no-repeat;
		opacity: 0.8;
	}
	.cell-boton-registrarce h3{		
		color: var(--celeste);
		font-size: 36px!important;
		font-weight: 600;
	}
	.cell-boton-registrarce p{
		color: white;
		font-weight: 600;
	}
	.img-servicios{
		height: 100px;
	}
	.img-servicios img{
		height: 100%;
		width: auto;
	}
	.text-xs-center{
		text-align: center;
	}
}
/* ___________________FIN ISTA PARA CELLLLLL___________________*/


